{% extends "base.html" %} {% block stylesheet %}
<link rel="stylesheet" href={{url_for( 'static', filename='style-simple.css' )}}> {% endblock %} {% block content %} {% for m in get_flashed_messages() %}
<p class="main-info flow-text">{{ m }}</p>
{% endfor %}

{% include 'circular-wait.html' %}

<section id="cover-image-section">
 <div class="row center">
  <div class="col s12" id="main-heading-section">
   <div class="cd-intro">
    <h1 class="cd-headline letters type">
        <span class="cd-words-wrapper waiting">
          <b class="is-visible">Membership based lending program</b>
          <b>Members pay no interest upto 30 days</b>
          <b>40%-50% cheaper than Payday loans</b>
          <b>Money transferred within 24 hours</b>
          <b>No hidden fees</b>
        </span>
      </h1>
   </div>
   <div>
    <a href="https://twitter.com/zipllyrocks" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @zipllyrocks</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
   </div>
   <div>
    <div class="g-follow" data-annotation="none" data-height="24" data-href="//plus.google.com/u/0/109147772784942938986" data-rel="author"></div>
   </div>
  </div>
 </div>
</section>
<section id="signup-form-section" class="row center">
 <a id="signup-form" />
 <div class="row">
  <p class="col s8 offset-s2 flow-text white-text">Leave us your email below and you'll be the first to try our service.</p>
 </div>
 <form action="{{url_for('home_blueprint.register_user')}}" method="POST">
  <div class="row">
   <input class="offset-s4 col s4" name="email" type="email" placeholder="email" required>
  </div>
  <div class="row">
   <button class="center notify-btn btn red">Get notified</button>
  </div>
 </form>
</section>
<section id="our-story-section" class="sub-section">
 <h3 class="sub-section-header center">Why Ziplly?</h3>
 <div class="row">
  <div class="col 12">
   <ul class="center">
    <li class="col s4">
     <p class="flow-text extra-large-text">
      Pay No Interest for 30 days
     </p>
     <hr/>
     <p class="small-text">
      We don't charge you interest for 30 days after borrowing. Only after that do you pay
      a reasonable interest.
     </p>
    </li>
    <li class="col s4">
     <p class="flow-text extra-large-text">
      40%-50% cheaper than Payday loans
     </p>
     <hr/>
     <p class="small-text">
      If you pay back the loan within 30 days, pay no interest. Otherwise, you pay interest for
      the additional time you take to repay.
     </p>
    </li>
    <li class="col s4">
     <p class="flow-text extra-large-text">
      Get the money within 24 hours
     </p>
     <hr/>
     <p class="small-text">
      Once you're a member, text us when you need to borrow. We will transfer the
      money to your account within 24 hours.
     </p>
    </li>
   </ul>
  </div>
 </div>
</section>
<section id="how-it-works-section" class="sub-section">
 <a name="how-it-works-link"></a>
 <h3 class="sub-section-header center">How it works</h3>
 <div class="row">
  <div class="offset-s3 col s6">
   <div class="video-wrapper">
    <video class="video" height="auto" controls="true">
     <source src="https://storage.googleapis.com/ziplly-video/explainer.mp4" type="video/mp4" />
    </video>
    <div class="playpause"></div>
   </div>
  </div>
 </div>
 <div class="row">
  <ul>
   <li class="col s4">
    <p class="how-it-works-item-title circle-fill flow-text large-text">
     Pick a plan
    </p>
    <p class="small-text">
     Pay a small monthly membership fee.
    </p>
   </li>
   <li class="col s4">
    <p class="how-it-works-item-title circle-fill flow-text large-text">
     Borrow money
    </p>
    <p class="small-text">
     Borrow money anytime and pay no interest for the first 30 days.
    </p>
   </li>
   <li class="col s4">
    <p class="how-it-works-item-title circle-fill flow-text large-text">
     Earn Rewards
    </p>
    <p class="small-text">
     Earn points for paying off the loan in time. Redeem those points for cash.
    </p>
   </li>
  </ul>
 </div>
</section>
<section id="plan-overview-section" class="sub-section plan-overview">
 <a name="plan-overview-link" />
 <h3 class="sub-section-header center">Our plans</h3>
 <div class="row">
  <div class="col s10 offset-s1">
   <table class="centered highlight bordered">
    <tbody>
     <tr>
      <td class="light-blue lighten-3">
       <h5 class="brown-text text-darken-3">Plan Name</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">Anytime $150</h5>
      </td>
      <td class="yellow accent-1">
       <h5 class="grey-text text-darken-2">Anytime $300</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">Anytime $500</h5>
      </td>
     </tr>
     <tr>
      <td class="light-blue lighten-3">
       <h5 class="brown-text text-darken-3">Loan Amount</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">$150</h5>
      </td>
      <td class="yellow accent-1">
       <h5 class="grey-text text-darken-2">$300</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">$500</h5>
      </td>
     </tr>
     <tr>
      <td class="light-blue lighten-3">
       <h5 class="brown-text">Frequency</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">3 times/year</h5>
      </td>
      <td class="yellow accent-1">
       <h5 class="grey-text text-darken-2">3 times/year</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">3 times/year</h5>
      </td>
     </tr>
     <tr>
      <td class="light-blue lighten-3">
       <h5 class="brown-text text-darken-3">Loan duration</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">0% APR for 30 days</h5>
      </td>
      <td class="yellow accent-1">
       <h5 class="grey-text text-darken-2">0% APR for 30 days</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">0% APR for 30 days</h5>
      </td>
     </tr>
     <tr>
      <td class="light-blue lighten-3">
       <h5 class="brown-text text-darken-3">Cost (monthly)</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">$10/month</h5>
      </td>
      <td class="yellow accent-1">
       <h5 class="grey-text text-darken-2">$18/month</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">$35/month</h5>
      </td>
     </tr>
     <tr>
      <td class="light-blue lighten-3">
       <h5 class="brown-text text-darken-3">Rewards</h5>
      </td>
      <td class="yellow lighten-2">
       <h5 class="grey-text text-darken-2">
                              Earn points for repaying on time and redeem those points for cash.
                            </h6>
                        </td>
                        <td class="yellow accent-1">
                            <h5 class="grey-text text-darken-2">
                              Earn points for repaying on time and redeem those points for cash.
                            </h6>
                        </td>
                        <td class="yellow lighten-2">
                            <h5 class="grey-text text-darken-2">
                              Earn points for repaying on time and redeem those points for cash.
                            </h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col s8 offset-s2" id="interest-comparison">
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2" id="principal-comparison">
        </div>
    </div> -->
</section>
<section id="plan-comparison-section">
  <div class="row">
    <h3 class="sub-section-header center">Our plan vs Payday</h3>
    <div class="col s6">
      <img width="98%" height="auto" src={{url_for('static', filename='ziplly-interest-cost-comparison.png')}} />
    </div>
    <div class="col s6">
      <img width="98%" height="auto" src={{url_for('static', filename='ziplly-interest-cost-comparison.png')}} />
    </div>
  </div>
</div>
<section id="misson-statement-section" class="sub-section center">
    <h3 class="sub-section-header">Our Mission</h3>
    <h5 class="grey-text text-darken-3">
        We want to make borrowing money easier, cheaper and transparent.
    </h5>
</section>
<section id="signup-button-section" class="row center">
 <div class="col s8 offset-s2">
  <a class="btn red" href="#signup-form">Pre register now</a>
 </div>
</section>
<!-- <section id="enroll-now-section" class="sub-section center">
    <h3 class="sub-section-header ">Enroll now for early access</h3>
    <div class="row signup-form">
        <form class="offset-s4 col s4" action="{{url_for('home_blueprint.register_user')}}" method="POST">
            <div class="input-field">
                <input id="email2 red" name="email2" type="email" required>
                <label class="notify-label" for="email2 red">Email</label>
                <button class="notify-btn-2 btn red center">Enroll now</button>
            </div>
        </form>
    </div>
</section> -->
<section id="faq-section" class="sub-section">
 <h3 class="sub-section-header">F.A.Q.</h3>
 <div>
  <blockquote>
   Can I cancel the service after enrolling?
  </blockquote>
  <p>
   You can cancel anytime you want, provided you don't owe us any money. There is no penalty.
  </p>
  <p>
   But since plans are based on yearly contract if you want to re-enroll, you'll need to pay back the monthly membership fees for remainder of your last contract period.
  </p>
 </div>
 <div>
  <blockquote>
   Is there a contract for the plan?
  </blockquote>
  <p>
   The plans are based on yearly contract but if you don't like the service you can cancel anytime. You need to be at 0 balance in order to cancel the plan. Once you cancel, you'll loose all benefits. In order to join back, you'll need to pay back any missed
   monthly membership fee for remainder of the contract period.
  </p>
 </div>
 <div>
  <blockquote>
   What are the criterias for membership?
  </blockquote>
  <p>
   It's simple - we need proof of employment/paychecks. Users will apply for membership on our site. Once we verify their information, we will provide the application approval decison by the end of the day. In some cases, users may be required to provide
   additional information such as bank statements, proof of identification etc.
  </p>
 </div>
 <div>
  <blockquote>
   When I can get the money?
  </blockquote>
  <p>
   Members can make a request for money. Based on the plan they subscribe to, we will deposit the money into your bank account the next day.
  </p>
 </div>

 {% endblock %}
