body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
nav {
  background-color: #B9F6CA;
}

nav a {
  color: #333 !important;
}

.header-item {
    font-size: 1.8em;
    font-family: monospace;
}
.page-footer {
    background-color: #B9F6CA !important;
    padding-top: 0 !important;
    color: #333;
}

.notify-label {
  margin-left: 42px;
}

h1, h2, h3, h4, h5 {
    color: #555;
}
p {
    color: #555;
    margin: 0;
}
figure {
    margin: 0;
    padding: 0;
}
.error {
 background-color: #FBB0B0;
 padding: 12px;
}

.dark-text {
  color: #333;
}

.no-margin-left {
 margin-left: 0
}

.video {
  border: 1px solid #bbb;
  width: 100%;
}

.video-wrapper {
  display: table;
  margin-top: 24px;
  position: relative;
  margin-left: 24px;
}

.playpause {
    background-image:url(play3.png);
    background-repeat:no-repeat;
    width:30%;
    height:30%;
    opacity: .7;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.nav-wrapper {
  color: #333 !important;
}

.bordered-header {
  padding: 8px;
  background: #e2e2e2;
}

.flow-text {
  font-size: 1.4em;
}

.logo-heading {
  font-size: 2em;
  font-family: 'Chewy', cursive;
  margin: 0 4px;
  color: #333;
}

#logo-container {
    margin-left: 24px;
    color: #333;
}

#cover-image-section {
    height: 600px;
    /*background-image: url('happy-woman3.jpg');*/
    background-color: #66bb6a;
    padding: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%);
}
#main-heading-section {
    margin-top: 24px;
}
#main-heading-section ul li {
  list-style: disc inside;
}

.tabs {
  background-color: #fafafa;
}

.cover-image-section-title {
    position: relative;
    top: 120px;
    text-align: center;
}
.signup-form {
    position: relative;
    top: -8px;
}
.circle {
    border-radius: 100px;
    width: 180px;
    height: 180px;
    text-align: center;
    line-height: 180px;
    background-color: #66bb6a;
    margin: auto;
}
.margin-left-medium {
  margin-left: 24px;
}
#how-it-works-section {
    text-align: center;
    padding: 0 24px;
}
#how-it-works-section p {
    margin-bottom: 16px;
}
#toast-container {
    width: 250px;
    right: 44%;
    top: 20%;
    text-align: center;
}
#our-story-section p {
    margin: 32px;
}
#faq-section div {
    margin: 32px;
}
.sub-section-header {
    margin: 32px;
    font-weight: 300;
}
.sub-section {
    padding: 24px;
}
.plan-overview {
    background: #fff;
}
.plan-overview h5, .plan-overview h6 {
    text-align: center;
}
.plan-overview h5 {
    font-size: 1.2em;
}
.sub-section p {
    margin: 16px auto;
    font-size: 1.2em;
    font-weight: 300;
}
.how-it-works-header h3 {
    margin: 32px;
    font-weight: 300;
}
.how-it-works-header hr {
    width: 70%;
}
#how-it-works-section ul li {
    margin: 20px 0;
    display: inline-block;
}
.how-it-works-item-title {
    font-size: 1.3em;
    margin: auto;
}
.how-it-works-item-description {
    font-family: Tahoma, sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.input-field label {
    color: #1b5e20;
}

.margin-top-medium {
  margin-top: 24px;
}

.margin-top-large {
 margin-top: 64px;
}

.breadcrumb {
  background-color: #66bb6a;
  padding: 20px;
}

.large-text {
  font-size: 1.5em !important;
}

.breadcrumb-active {
  color: #ffffff;
}

.breadcrumb-inactive {
  color: #e0e0e0;
}

/* label focus color */

.input-field input[type=email]:focus + label {
    color: #000;
}
.input-field input[type=email] {
    border-bottom: 1px solid #1b5e20;
}

/* label underline focus color */

.input-field input[type=email]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */

.input-field input[type=email].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */

.input-field input[type=email].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}

/**************** signup *****************/
.container {
  width: 80%;
}
.login-option {
 line-height: 36px;
}
form.user-input {
  padding: 32px;
  background: #EEEEEE;
}
/*****************************************/

/**************** add-bank *****************/
.container {
  width: 80%;
}
.login-option {
 line-height: 36px;
}
#add-bank {
  padding: 32px;
  background: #EEEEEE;
}
/*****************************************/

</style>
