body {
    font-family: 'Roboto', sans-serif;
}

#content {
  min-height: 500px;
}

#demo-tag {
    position: fixed;
    background: url('demo.png') no-repeat;
    width: 64px;
    height: 64px;
    top: 0;
    right: 0;
}

nav {
  background-color: #006064;
}

nav a {
  color: #333 !important;
}

#sidenav-btn {
  position: absolute;
  top: 88px;
  left: 24px;
  display: inline-block;
}

#nav-mobile {
    margin-right: 32px !important;
}

.header-item {
    font-size: 1.8em;
    font-family: monospace;
}
.page-footer {
    background-color: #e1f5fe !important;
    padding-top: 0 !important;
    margin: 120px 0 0 0 !important;
    color: #333;
}

.main-info {
  postion: fixed;
  top: 60px;
  padding: 16px;
  background: #ff8a65;
  color: #333;
}

select {
  display: block;
}

.notify-label {
  margin-left: 60px;
}

.help-text {
  color: #a9a9a9;
  font-size: 15px;
  font-style: italic;
}

h1, h2, h3, h4, h5 {
    color: #555;
}
p {
    color: #555;
    margin: 0;
}
figure {
    margin: 0;
    padding: 0;
}

.link-btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
}

.underline {
    border-bottom: 1px solid #aaa;
}

.padding-medium {
  padding: 12px;
}

.error-block {
 background-color: #FBB0B0;
 padding: 16px;
}

.error-item {
  margin: 12px 6px;
  font-size: 1.1em;
}

.error {
 background-color: #FBB0B0;
 padding: 16px;
 font-size: 1.1em;
}

.info {
  background: #dcedc8;
  padding: 16px;
  font-size: 1.1em;
}

.warning {
  background: #ffcdd2;
  display: block;
  height: 20px;
  padding: 10px;
}

.warning p {
  font-family: arial, sans-serif;
  font-size: 1.1em;
}

form {
  padding: 8px !important;
}

.dark-text {
  color: #333;
}

.no-margin-left {
 margin-left: 0
}

.video {
  border: 1px solid #bbb;
  width: 100%;
}

.video-wrapper {
  display: table;
  margin-top: 24px;
  position: relative;
  margin-left: 24px;
}

.playpause {
    background-image:url(play.png);
    background-repeat:no-repeat;
    width:30%;
    height:30%;
    opacity: .7;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

div.nav-wrapper li a {
  color: #fff !important;
}

.bordered-header {
  padding: 8px;
  background: #e2e2e2;
}

.flow-text {
  font-size: 1.3em;
}

.logo-heading {
  font-size: 2em;
  font-family: 'Georgia', serif;
  margin: 0 4px;
  color: #333;
}

.logo-subtext {
  font-family: 'Georgia', serif;
  margin: 0 4px;
}

.bold {
  font-size: 1.4em;
}

.tiny-text {
  font-family: arial;
  font-size: .65em;
}

.normal-text {
  font-family: arial;
  font-size: 1em !important;
}

.medium-text {
  font-family: helvetica,sans-serif;
  font-size: 1.2em;
}

.page-footer > .container {
  padding: 12px;
}

.bank-not-listed-div {
  margin-left: -20px !important;
}

#payday-cartoon {
  position: fixed;
  left: 0;
  right: 0;
  margin: 8px 0;
}

#contact-us-form-section {
  padding: 16px;
  background: #f9f9f9;
}

#logo-container {
    margin-left: 24px;
    color: #333;
}

#signup-button-section {
  margin: 0;
  padding: 32px 0;
}

.signup-form-section {
  background-color: #006064;
  margin: 0;
  padding: 32px 0;
}

.signup-form-section div.row {
    margin: 0;
}

.signup-form-section form {
  margin-top: 24px;
}

.signup-form-section form div.row {
  margin-bottom: 0;
}

.signup-form-section input {
    border: 0;
    background: #fff;
    height: 24px;
    padding: 8px;
}

.signup-form-section button {
  height: 45px;
}

#signup-email-label {
  margin-left: 50px;
}

#cover-image-section {
    height: auto;
    /*background-image: url('happy-woman3.jpg');*/
    /*background-color: #66bb6a;*/
    padding: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    /*-webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%);*/
}

#benefits ul li {
  display: block;
  float: left;
  width: 100%;
  height: 40px;
}

.benefit-item {
  display: inline-block;
  margin: 0;
  float: left;
  height: 24px;
  line-height: 24px;
  font-family: helvetica;
  font-size: 1.4em;
}

/*#benefits ul li img {
  float: left;
  display: inline-block;
  height: 40px;
}*/

.benefit-item::before {
  content: '';
  background: url('checkbox.png') no-repeat;
  display: block;
  float: left;
  width: 36px;
  height: 24px;
  margin: 0 8px;
}

#main-heading-section {
    margin-top: 24px;
}
#main-heading-section ul li {
  list-style: disc inside;
  margin: 24px 0;
}

#progress-bar {
  display: none;
  position: absolute;
  top: 50%;
  width: auto;
  left:50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-content {
  padding: 4px !important;
}

.modal-content .row {
  margin: 0 !important;
}

.modal-content h5 {
  margin: 0 20px !important;
}

.modal-content .input-field {
    margin: 12px !important;
}
.modal-footer {
  margin: 12px !important;
}

.tabs {
  background-color: #fafafa;
}

.cover-image-section-title {
    position: relative;
    top: 120px;
    text-align: center;
}
.signup-form {
    position: relative;
}
.circle-fill {
    border-radius: 100px;
    width: 180px;
    height: 180px;
    text-align: center;
    line-height: 180px;
    background-color: #e1f5fe;
    margin: auto;
}
.margin-left-medium {
  margin-left: 24px;
}

#circular-wait-section {
    display: hidden;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 30%;
}

#toast-container {
  right: 40% !important;
  width: 300px !important;
}

#how-it-works-section {
    text-align: center;
    padding: 0 24px;
    padding: 16px 0;
    /*-webkit-clip-path: polygon(0% 100%, 0% 12%, 100% 0%, 100% 100%);*/
}

#how-it-works-section p {
    margin-bottom: 16px;
}
#toast-container {
    width: 250px;
    right: 44%;
    top: 20%;
    text-align: center;
}

#our-story-section {
  background-color: #e1f5fe;
}

#our-story-section p {
    margin: 16px 32px 6px 32px;
}

#our-story-section hr {
  width: 70%;
}

#misson-statement-section {
background-color: #e1f5fe;
}

#faq-section {
  /*background-color: #e1f5fe;*/
}
#faq-section div {
    margin: 32px;
}
.sub-section-header {
    margin: 32px;
    font-weight: 300;
}
.sub-section {
    padding: 24px;
}
#plan-overview-section {
  background-color: #e1f5fe;
}
.plan-overview h5, .plan-overview h6 {
    text-align: center;
}
.plan-overview h5 {
    font-size: 1.2em;
}
.sub-section p {
    margin: 16px auto;
    font-size: 1.2em;
    font-weight: 300;
}
.how-it-works-header h3 {
    margin: 32px;
    font-weight: 300;
}
.how-it-works-header hr {
    width: 70%;
}
#how-it-works-section ul li {
    margin: 20px 0;
    display: inline-block;
}
.how-it-works-item-title {
    font-size: 1.3em;
    margin: auto;
}
.how-it-works-item-description {
    font-family: Tahoma, sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.input-field label {
    color: #1b5e20;
}

.margin-top-medium {
  margin-top: 24px;
}

.margin-top-large {
 margin-top: 64px;
}

.large-text {
  font-size: 1.4em !important;
  font-family: arial;
}

.extra-large-text {
  font-size: 2em !important;
}

.breadcrumb-row {
  height: 40px;
  background-color: #18ffff;
  font-size: 1em;
}

.breadcrum-item {
  display: inline-block;
  width: auto;
}

.breadcrum-active {
  color: #555;
}

.breadcrum-text {
    display: inline-block;
    font-family: verdana;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
}

.breadcrum-text::after {
  content: '';
  display: block;
  background: url('arrow_right.png') no-repeat;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 2px;
}

div.breadcrum-row .breadcrum-item:last-child .breadcrum-text::after {
  background: none;
}

.breadcrum-inactive {
  color: #aaa;
}

/* label focus color */

.input-field input[type=email]:focus + label {
    color: #000;
}
.input-field input[type=email] {
    border-bottom: 1px solid #1b5e20;
}

/* label underline focus color */

.input-field input[type=email]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */

.input-field input[type=email].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* invalid color */

.input-field input[type=email].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}

/**************** signup *****************/
.container {
  width: 80%;
}
.login-option {
 line-height: 36px;
}

form.user-input {
  background: #EEEEEE;
}

/*****************************************/

/**************** add-bank *****************/
.container {
  width: 80%;
}
.login-option {
 line-height: 36px;
}
#add-bank {
  padding: 32px;
  background: #EEEEEE;
}
/*****************************************/

/***************** add bank section *******************/
#bank-verification-methods-section {
  margin: 0 -0.75rem;
}

#bank-verification-methods-section p {
  margin: 10px 0;
}

#bank-verification-methods-section table td {
  background: #f9f9f9;
  padding: 12px;
  margin-right: 20px;
}

.verification-method-box {
  height: 280px;
  position: relative;
}

.verification-method-box a {
  display: inline-block;
  position: absolute;
  bottom: 10px;
}
/***********************************************************************/
</style>
