<div class="row">
  <!-- bank info section -->
  <div class="col-md-12 p-0">
    <h5 class="primary-color">Bank information</h5>
    <table class="table">
      <thead>
        <tr>
          <td>
            <h6>Institution Name</h6>
          </td>
          <td>
            <h6>Account Type</h6>
          </td>
          <td>
            <h6>Status</h6>
          </td>
          <td>
            <h6>Last 4</h6>
          </td>
          <td>
            <h6>Date created</h6>
          </td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% if current_user.fis | length > 0 %} {% for fi in current_user.fis %}
        <tr>
          <td>
            <p>{{ fi.institution }}</p>
          </td>
          <td>
            <p>{{ fi.institution_type }}</p>
          </td>
          <td>
            <p>
              {{fi.status}}
            </p>
          </td>
          <td>
            <p>xxxx-{{ fi.account_number_last_4 }}</p>
          </td>
          <td>
            <p>{{ fi.time_created | format_datetime }}</p>
          </td>
          {% if fi.verification_type == 1 and fi.status == 0 %}
          <td>
            <form action={{url_for('account_bp.start_random_deposit_verification')}} method="post">
              <input type="hidden" name="fi_id" value={{ fi.id }} />
              <button class="btn">Verify</button>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
    {% if current_user.fis | length == 0 %}
    <div class="mt-2">
      <p>No banks added to your account yet.</p>
        <a class="btn btn-accent mt-1" href={{url_for( 'account_bp.add_bank')}} role="button">Add bank now</a>
      </p>
    </div>
    {% else %}
    <a class="btn btn-accent mt-1" href={{url_for( 'account_bp.add_bank')}} role="button">Add another bank</a>
    {% endif %}
  </div>
</div>
<!-- end of bank info section -->
