<div class="row"> <!-- profile section -->
  <h5 class="primary-color">
    Personal Information
    <span class="tiny-text"><a href={{url_for('account_bp.edit_account')}}>edit</a></span>
  </h5>
  <div class="col-md-12 p-0">
    <table class="table">
        <tr>
          <td><h6>Name</h6></td>
          <td>
            <p>{{current_user.first_name}} {{current_user.last_name}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Email</h6>
          </td>
          <td>
            <p>{{current_user.email}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Phone Number</h6>
          </td>
          <td>
            <p>{{current_user.phone_number}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <h6>Address</h6>
          </td>
          {% if current_user.addresses | length > 0 %}
            {% for addr in current_user.addresses %}
              {% if addr.address_type == 1 %}
                <td>
                  {% if addr.street1 %}
                  <p>
                    {{addr.street1}} &nbsp; {{addr.city}} &nbsp;
                    {{addr.state}} &nbsp; {{addr.postal_code}}
                  </p>
                  {% endif %}
                </td>
              {% endif %}
            {% endfor %}
          {% endif %}
        </tr>
        <tr>
          <td>
            <h6>Joining date</h6>
          </td>
          <td>
            <p>{{ current_user.time_created | format_datetime }}</p>
          </td>
        </tr>
      </table>
    </div>
  </div> <!-- end of profile section -->
