{% extends 'base.html' %} {% block content %}
<div class="container">

  {% if form.errors %}
  <div class="row">
    <div class="col-md-6">
      {% for field in form %} {% for m in field.errors %}
      <div class="alert alert-danger">{{ m }}</div>
      {% endfor %} {% endfor %}
    </div>
  </div>

  {% endif %}
  <div class="row">
    <form class="user-input col-md-7" action={{url_for('lending_bp.enter_employer_information')}} method="POST">
      <fieldset class="margin-top-medium">
        <h5>Enter employer information</h5>
      </fieldset>
      {{ form.csrf_token }}
      <div class="form-group row margin-top-medium">
        {{form.employment_type.label(class="col-md-4 col-form-label align-right")}}
        <div class="col-md-7">
          {{ form.employment_type(class="form-control") }}
        </div>
      </div>
	  
      <div class="form-group row">
        {{form.employer_name.label(class='col-md-4 col-form-label align-right')}}
        <div class="col-md-7">
          {{form.employer_name(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.employer_phone_number.label(class='col-md-4 col-form-label align-right')}}
        <div class="col-md-7">
          {{form.employer_phone_number(class="form-control phone_number")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.street1.label(class='col-md-4 col-form-label align-right')}}
        <div class="col-md-7">
          {{form.street1(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.street2.label(class='col-md-4 col-form-label align-right')}}
        <div class="col-md-7">
          {{form.street2(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="location" class="col-md-4 col-form-label align-right">Location</label>
        <div class="col-md-3">
          {{form.city(class="form-control")}}
        </div>
        <div class="col-md-2">
          {{form.state(class="form-control")}}
        </div>
        <div class="col-md-2">
          {{form.postal_code(class="form-control")}}
        </div>
      </div>
      <div class="row">
        <div class="offset-md-4">
          <button class="btn btn-orange margin-left-12">Next</button>
        </div>
        <div class="offset-md-4">
          <a class="link-btn margin-left-12" href={{url_for('lending_bp.dashboard')}}>Cancel Application</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
