{% extends 'base.html' %} {% block content %}
<div class="container">

  {% if form.errors %}
  <div class="row">
    <div class="col-md-6">
      {% for field in form %} {% for m in field.errors %}
      <div class="alert alert-danger">{{ m }}</div>
      {% endfor %} {% endfor %}
    </div>
  </div>

  {% endif %}
  <div class="row">
    <form class="user-input col-md-6" action={{url_for('account_bp.enter_employer_information')}} method="POST">
      <fieldset>
        <h5>Enter employer information</h5>
      </fieldset>
      {{ form.csrf_token }}
      <div class="form-group row">
        {{form.employer_name.label(class='col-xs-2 col-form-label align-right')}}
        <div class="col-md-8">
          {{form.employer_name(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.employer_phone_number.label(class='col-md-2 col-form-label align-right')}}
        <div class="col-md-8">
          {{form.employer_phone_number(class="form-control phone_number")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.employer_phone_number.label(class='col-md-2 col-form-label align-right')}}
        <div class="col-md-8">
          {{form.employer_phone_number(class="form-control phone_number")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.street1.label(class='col-md-2 col-form-label align-right')}}
        <div class="col-md-8">
          {{form.street1(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.street2.label(class='col-md-2 col-form-label align-right')}}
        <div class="col-md-8">
          {{form.street2(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="location" class="col-md-2 col-form-label align-right">Location</label>
        <div class="col-md-3">
          {{form.city(class="form-control", placeholder="city")}}
        </div>
        <div class="col-md-2">
          {{form.state(class="form-control")}}
        </div>
        <div class="col-md-3">
          {{form.postal_code(class="form-control")}}
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <button class="btn">Next</button>
        </div>
        <div class="col s4">
          <a class="link-btn" href={{url_for('account_bp.dashboard')}}>Cancel Application</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
