<div class="row">
  <div class="offset-md-4 col-md-8">
      <h6 class="bg-primary text-white mb-0 p-1">Repayment Schedule</h6>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="small-text">Amount</th>
            <th class="small-text">Status</th>
            <th class="small-text">Date</th>
          </tr>
        </thead>
        {% if not data %}
          </table>
          <p class="normal-text">No approved loans</p>
        {% else %}
        {% for loan in data['schedule'] %}
          <tr>
            <td>
              <p class="small-text">
                {{ loan['loan_amount'] | format_currency }}
              </p>
            </td>
            <td>
              <p class="small-text">
                {{ loan['status']}}
              </p>
            </td>
            <td>
              <p class="small-text">
                {{ loan['date'] | format_datetime }}
              </p>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </div>
