{% extends 'base.html' %} {% block content %}
<div class="container margin-top-large">
   {% if get_flashed_messages() | length > 0 %}
    <div class="row">
        <div class="col s6 error-block">
            {% for message in get_flashed_messages() %}
            <div class="error-item">{{ message }}</div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if form.errors %}
    <div class="row">
       <div class="col s6 error-block">
           {% for field in form %}
             {% for m in field.errors %}
              <div class="error-item">{{ m }}</div>
             {% endfor %}
           {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="row">
        {% if data.email_sent %}
            <h5>We just emailed you a link.</h5>
            <h5>Click on the link to reset your password.</h5>
            <div class="row">
                <div class="col s12 margin-top-medium">
                    <span class="login-option">Didn't receive the email?&nbsp;&nbsp;<a id="resend_btn2" href={{url_for('lending_bp.reset_password')}}>Resend It</a> </span>
                </div>
            </div>
        {% else %}
            <h5>Reset your password</h5>
            <form id="reset_password_form" class="col s6 user-input"
                action={{url_for('lending_bp.reset_password')}} method="post">
                {{ form.csrf_token }}
                <div class="row">
                    <div class="input-field col s12">
                        {{form.email.label}} {{form.email}}
                    </div>
                    <div class="col s12">
                        <button class="btn">Reset</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s8">
                        <span class="login-option"><a href={{url_for('account_bp.login')}}>Login now</a> </span>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
