{% extends 'base.html' %} {% block content %}
<div class="container margin-top-large">
   {% if get_flashed_messages() | length > 0 %}
    <div class="row">
        <div class="col s6 error-block">
            {% for message in get_flashed_messages() %}
            <div class="error-item">{{ message }}</div>
            {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if form.errors %}
    <div class="row">
       <div class="col s6 error-block">
           {% for field in form %}
             {% for m in field.errors %}
              <div class="error-item">{{ m }}</div>
             {% endfor %}
           {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="row">
        <h5>Set new password</h5>
        {% if data.unauthorized %}
            <br /><h5>Unauthorized access/invalid token</h5>
        {% else %}
            <form id="reset_password_form" class="col s6 user-input"
                action={{url_for('lending_bp.reset_password_confirm')}} method="post">
                {{ form.csrf_token }}
                <div class="row form-group">
                  {{ form.password.label(class="col-md-2 col-form-label align-right") }}
                  <div class="col-md-8">
                    {{ form.password(class="form-control") }}
                  </div>
                </div>
                <div class="row form-group">
                  {{ form.confirm_password.label(class="col-md-2 col-form-label align-right") }}
                  <div class="col-md-8">
                    {{ form.confirm_password(class="form-control") }}
                  </div>
                </div>
                <div class="col s12">
                    <button class="btn">Submit</button>
                </div>
                <div class="row">
                    <div class="col s8">
                        <span class="login-option"><a href={{url_for('account_bp.login')}}>Login now</a> </span>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
