<div class="row"> <!-- profile section -->
  <h5 class="bordered-header">Personal Information</h5>
  <div class="col s12">
    <table>
      <tbody>
        <tr>
          <td class="flow-text">Name</p></td>
          <td class="flow-text">
            {{current_user.first_name}} {{current_user.last_name}}
          </td>
        </tr>
        <tr>
          <td class="flow-text">Email</p></td>
          <td class="flow-text">
            {{current_user.email}}
          </td>
        </tr>
        <tr>
          <td class="flow-text">Phone Number</p></td>
          <td class="flow-text">
            {{current_user.phone_number}}
          </td>
        </tr>
        <tr>
          <td class="flow-text">Address</p></td>
          {% if current_user.addresses | length > 0 %}
            {% for addr in current_user.addresses %}
              {% if addr.address_type == 0 %}
                <td class="flow-text">
                  {% if addr.street1 %}
                  {{addr.street1}} &nbsp; {{addr.city}} &nbsp;
                  {{addr.state}} &nbsp; {{addr.postal_code}}
                  {% endif %}
                </td>
              {% endif %}
            {% endfor %}
          {% else %}
            <td class="flow-text">No Membership</td>
          {% endif %}
        </tr>
        <tr>
          <td class="flow-text">Joining date</td>
          <td class="flow-text">
            {{ current_user.time_created | format_datetime }}
          </td>
        </tr>
      </table>
    </div>
  </div> <!-- end of profile section -->
