{% extends 'base.html' %}

{% block content %}
<div class="container margin-top-large">
  <div class="row">
    <div class="col s6">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#profile">Profile</a></li>
        <li class="tab col s3"><a href="#transactions">Transaction</a></li>
      </ul>
    </div>
    <div id="profile" class="col s12">
      <div class="row"> <!-- profile section -->
        <h4 class="bordered-header">Personal Information</h4>
        <div class="col s12">
          <table>
            <tbody>
              <tr>
                <td class="flow-text">Name</p></td>
                <td class="flow-text">
                  {{current_user.first_name}} {{current_user.last_name}}
                </td>
              </tr>
              <tr>
                <td class="flow-text">Email</p></td>
                <td class="flow-text">
                  {{current_user.email}}
                </td>
              </tr>
              <tr>
                <td class="flow-text">Phone Number</p></td>
                <td class="flow-text">
                  {{current_user.phone_number}}
                </td>
              </tr>
              <tr>
                <td class="flow-text">Address</p></td>
                <td class="flow-text">
                  {% if not current_user.address.street1 %}
                  {{current_user.address.street1}} &nbsp; {{current_user.address.city}} &nbsp;
                  {{current_user.address.state}} &nbsp; {{current_user.address.postal_code}}
                  {% endif %}
                  {% if current_user.address.street1 %}
                  <span>None</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="flow-text">Joining date</td>
                <td class="flow-text">
                  {{ current_user.time_created | format_datetime }}
                </td>
              </tr>
            </table>
          </div>
        </div> <!-- end of profile section -->
        <div class="row"> <!-- membership section -->
          <div class="col s12">
              <h4 class="bordered-header">Membership</h4>
              {% if current_user.memberships|length == 0 %}
                <p class="flow-text">You've not yet applied for membership&nbsp;
                <a href={{url_for('onboarding_bp.apply_enter_personal_information')}}>Apply Now</a>
                </p>
              {% endif %}
              {% if current_user.memberships|length > 0 %}
                <table class="bordered responsive-table highlight">
                  <thead>
                    <tr>
                      <td class="flow-text">Status</td>
                      <td class="flow-text">Application date</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for m in current_user.memberships %}
                    <tr>
                      <td class="flow-text">{{ m.status | format_membership_status }}</td>
                      <td class="flow-text">
                        {{ m.time_created | format_datetime }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}

              {% if data.eligible_for_membership_reapplication == True %}
                <a class="flow-text" href={{url_for('onboarding_bp.apply_enter_personal_information')}}>
                  Reapply for membership&nbsp;
                </a>
              {% endif %}
        </div>
      </div> <!-- end of membership section -->
    </div> <!-- end of profile page -->

    <div id="transactions" class="col s12">
      <div class="row"> <!-- transaction section -->
        <div class="col s6">
          <h5>Transaction details</h5>
        </div>
      </div> <!-- end of transaction section -->
    </div> <!-- end of profile page -->

{% endblock %}
