{% extends "base.html" %}

{% block content %}
<div class="row margin-top-large">
 <div class="col offset-s1 s10 center">
  <h4 class="green-text">
   You have added your bank account.
  </h4>
  <p class="row flow-text">
    We will be making 2 deposits to your account within 3-5 business days. Once
    it appears in your statement, please note the amount and enter them here. That
    would complete the verification process. Once your application is complete, we
    will notify you about your membership approval within 1 business day.
  </p>
  <p class="row flow-text">
    You can text us at <span class="blue-text">(408)-462-0352</span> anytime to check the status
    of your application.
    </p>
 </div>
 <div class="col s12 center">
   <a class="btn" href={{url_for('lending_bp.dashboard')}}>Home</a>
 </div>
</div>
{% endblock %}
