{% extends 'base.html' %}

{% block content %}
<div class="container margin-top-medium">
  {% if data.show_notification %}
  <div class="row">
    <div class="col s12">
      <p class={{ data.notification_class }}>{{ data.notification_message_description }}
        <a href={{url_for(data.notification_url)}}>{{ data.notification_message_title }}</a>
      </p>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col s12">
      {% for message in get_flashed_messages() %}
      <p class={{ message.class }}>{{ message.content }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h5>User Dashboard</h5>
      <p class="flow-text">
        Welcome back {{current_user.first_name}} {{current_user.last_name}}
      </p>
    </div>
  </div>

  {% if tab == 'account' %}
  {% include 'onboarding/account-profile-section.html' with context %}
  {% elif tab == 'membership' %}
  {% include 'onboarding/account-membership-section.html' with context %}
  {% elif tab == 'bank' %}
  {% include 'onboarding/account-bank-info-section.html' with context %}
  {% endif %}
</div>
{% endblock %}
