{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col s6 margin-top-large no-margin-left">
            {% for message in get_flashed_messages() %}
            <p class="error">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <form id="login_form" class="col s6 user-input" action={{url_for('onboarding_bp.login')}} method="post">
            <h4>Login</h4>
            {{ form.csrf_token }}
            <div class="row">
                <div class="input-field col s12">
                    {{form.phone_number.label}} {{form.phone_number}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{form.password.label}} {{form.password}}
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <button class="btn">Login</button>
                </div>
                <div class="col s8">
                    <span class="login-option">Forgot your password&nbsp;&nbsp;<a href="#">Reset now</a></span>
                </div>
                <div class="col s8">
                    <span class="login-option">Not a member, Signup&nbsp;&nbsp;<a href={{url_for('onboarding_bp.signup')}}>Signup now</a> </span>
                </div>

            </div>
    </div>
    </form>
</div>
</div>
{% endblock %}
