{% extends 'base.html' %} {% block content %}
<div class="container">
 <div class="row">
  <div class="col s6 margin-top-large">
   {% for message in get_flashed_messages() %}
   <div class="error">{{ message }}</div>
   {% endfor %} {% for message in form.name.errors %}
   <div class="error">{{ message }}</div>
   {% endfor %} {% for message in form.country.errors %}
   <div class="error">{{ message }}</div>
   {% endfor %} {% for message in form.currency.errors %}
   <div class="error">{{ message }}</div>
   {% endfor %} {% for message in form.routing_number.errors %}
   <div class="error">{{ message }}</div>
   {% endfor %} {% for message in form.account_number.errors %}
   <div class="error">{{ message }}</div>
   {% endfor %}
  </div>
 </div>
 <div class="row">
  <form id="random_deposit_form" class="col s6 user-input" action={{url_for('onboarding_bp.add_random_deposit')}} method="post">
   <h4>Add bank through random deposit</h4> {{ form.csrf_token }}
   <div class="row">
    <div class="input-field col s12">
     {{ form.name.label }} {{ form.name }}
    </div>
   </div>
   <div class="row">
    <div class="input-field col s12">
      {{ form.country.label }}
    </div>
   </div>
   <div class="row">
    <div class="input-field col s12">
      {{ form.country }}
    </div>
   </div>
   <div class="row">
    <div class="input-field col s12">
     {{ form.currency }} 
    </div>
   </div>
   <div class="row">
    <div class="input-field col s5">
     {{ form.routing_number.label }} {{ form.routing_number }}
    </div>
    <div class="input-field col s5">
     {{ form.account_number.label }} {{ form.account_number }}
    </div>
   </div>
   <div class="row">
    <div class="col s4">
     <button class="btn">Add Bank</button>
    </div>
   </div>
 </div>
 </form>
</div>
</div>

<div class="row">
  <div class="col s10">
    <a class="link" href={{ url_for('onboarding_bp.add_bank') }}>Back to add bank</a>
  </div>
</div>
{% endblock %}
