<div>
    {% if form.errors %}
    <div class="row">
       <div class="col s6 error-block">
           {% for field in form %}
             {% for m in field.errors %}
              <div class="error-item">{{ m }}</div>
             {% endfor %}
           {% endfor %}
        </div>
      </div>
      {% endif %}

<!-- {% if current_user.transactions %}
<div class="margin-top-medium">
<div class="info">
  <p>You currently owe {{current_user.transactions[0].amount|format_currency}} by Nov 20th 2016.
If you need extension on your repayment, please call/text us at 480-306-9461
</p>
</div>

</div>
{% endif %} -->
<div class="row">
 <div class="col s12">
   <h5 class="margin-top-large">Transaction history</h5>
   <table class="bordered responsive-table highlight">
    <thead>
     <tr>
      <td><h6>Amount</h6></td>
      <td><h6>Transaction Type</h6></td>
      <td><h6>Status</h6></td>
      <td><h6>Transaction date</h6></td>
     </tr>
    </thead>
    <tbody>
      {% if current_user.transactions %}
     {% for t in current_user.transactions %}
     <tr>
      <td class="flow-text"> {{ t.amount | format_currency }} </td>
      <td class="flow-text"> {{ t.transaction_type | format_transaction_type }} </td>
      <td class="flow-text">{{ t.status | format_transaction_status }}</td>
      <td class="flow-text">{{ t.time_created | format_datetime }}</td>
     </tr>
     {% endfor %}
     {% else %}
     <tr>
       <p class="flow-text">No transactions</p>
     </tr>
     {% endif %}
    </tbody>
   </table>
   <p>You can borrow {{ 3 - current_user.transactions|length}} more times before July 27th 2017</p>

  </div>
 </div>

 <div class="row margin-top-large">
   <form id="request-money-form" class="col s6 user-input" action={{url_for('onboarding_bp.request_money')}} method="post">
     <h5 class="bordered">Request Money Now</h5>
     <p class="flow-text">You can also text us at 480-306-9461 to request money</p>

       {{ form.csrf_token }}
       <div class="row">
           <div class="input-field col s12">
               {{form.requested_amount.label}} {{form.requested_amount}}
           </div>
       </div>
       <button id="request-money-btn" class="btn">Request Money</button>
     </form>
   </div>
 </div>

</div>
