{% extends 'onboarding/dashboard.html' %}
{% block dashboard_content %}
{% if form.errors %}
<div class="row">
  <div class="col s6 error-block">
    {% for field in form %} {% for m in field.errors %}
    <div class="error-item">{{ m }}</div>
    {% endfor %} {% endfor %}
  </div>
</div>
{% endif %}

<div class="row margin-top-large">
  <form id="request-money-form" class="col s6 user-input" action={{url_for('lending_bp.request_money')}} method="post">
    <h5 class="bordered">Request Money Now</h5>
    <p class="flow-text">You can also text us at {{ config['PHONE_NUMBER'] }} to request money</p>

    {{ form.csrf_token }}
    <div class="row">
      <div class="input-field col s12">
        {{form.requested_amount.label}} {{form.requested_amount}}
      </div>
    </div>
    {% if request_money_enabled %}
    <button id="request-money-btn" class="btn">Request Money</button>
    {% else %}
    <button id="request-money-btn" class="btn" disabled="disabled">Request Money</button>
    {% endif %}
  </form>
</div>
</div>
{% endblock %}
