{% extends 'base.html' %} {% block content %}
{% macro get_value(attr_description, attr) %}
  <tr>
    <td class="flow-text">{{attr_description}}</td>
    {% for p in plans %}
      {% set value = p[attr] %}
      {% if loop.index == 1 %}
      <td class='yellow lighten-2 center'> {{ value }} </td>
      {% elif loop.index == 2 %}
      <td class='yellow accent-1 center'> {{ value }} </td>
      {% elif loop.index == 3 %}
      <td class='yellow lighten-2 center'> {{ value }} </td>
      {% endif %}
    {% endfor %}
  </tr>
{% endmacro %}

{% macro get_loan_frequency(attr_description, attr) %}
  <tr>
    <td class="flow-text">{{attr_description}}</td>
    {% for p in plans %}
      {% set value = p[attr] %}
      {% if loop.index == 1 %}
      <td class='yellow lighten-2 center'> {{ value }} times/year </td>
      {% elif loop.index == 2 %}
      <td class='yellow accent-1 center'> {{ value }} times/year </td>
      {% elif loop.index == 3 %}
      <td class='yellow lighten-2 center'> {{ value }} times/year </td>
      {% endif %}
    {% endfor %}
  </tr>
{% endmacro %}

{% macro get_amount(attr_description, attr) %}
  <tr>
    <td class="flow-text">{{attr_description}}</td>
    {% for p in plans %}
      {% set value = p[attr]|format_currency %}
      {% if loop.index == 1 %}
      <td class='yellow lighten-2 center'> {{ value }} </td>
      {% elif loop.index == 2 %}
      <td class='yellow accent-1 center'> {{ value }} </td>
      {% elif loop.index == 3 %}
      <td class='yellow lighten-2 center'> {{ value }} </td>
      {% endif %}
    {% endfor %}
  </tr>
{% endmacro %}

<section>
    <div class="row">
        <div class="col s8 offset-s2">
          {{ build_breadcrum(breadcrumItems) }}

            <h4 class="centered">Select Plan</h4>
            <table class="bordered margin-top-medium">
              <tbody>
                {{ get_value('Plan name', 'name') }}
                {{ get_amount('Loan Amount', 'max_loan_amount') }}
                {{ get_loan_frequency('Frequency', 'loan_frequency') }}
                {{ get_value('Interest Rate', 'interest_rate_description') }}
                {{ get_value('Rewards', 'rewards_description') }}
                {{ get_amount('Cost', 'cost') }}
                <tr>
                  <td></td>
                  {% for p in plans %}
                  <td class="center">
                    <form action={{url_for('onboarding_bp.select_plan')}} method="POST">
                      {{ form.csrf_token }}
                      <input type="hidden" name="plan_id" value={{p.id}} />
                      <button class="btn">{{p.name}}</button>
                    </form>
                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>

        </div>
    </div>
{% endblock %}
