{% extends 'base.html' %} {% block content %}

<section>
    <div class="row">
        <div class="col s8 offset-s2">
          {{ build_breadcrum(breadcrumItems) }}

            <h4 class="centered">Select Plan</h4>
            <table class="bordered">
              <tbody>
                <tr>
                  <td class="flow-text">Plan Name</td>
                  {% for p in plans %}
                  <td class="flow-text"> {{p.name}} </td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="flow-text">Loan Amount</td>
                  {% for p in plans %}
                  <td class="flow-text"> {{p.max_loan_amount}} </td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="flow-text">Frequency</td>
                  {% for p in plans %}
                  <td class="flow-text"> {{p.loan_frequency}} </td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="flow-text">Interest Rate</td>
                  {% for p in plans %}
                  <td class="flow-text"> {{p.interest_rate_description}} </td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="flow-text">Rewards</td>
                  {% for p in plans %}
                  <td class="flow-text"> {{p.rewards_description}} </td>
                  {% endfor %}
                </tr>
                <tr>
                  <td class="flow-text">Cost</td>
                  {% for p in plans %}
                  <td class="flow-text"> {{p.cost}} </td>
                  {% endfor %}
                </tr>
                <tr>
                  <td></td>
                  {% for p in plans %}
                  <td>
                    <form action={{url_for('onboarding_bp.select_plan')}} method="POST">
                      {{ form.csrf_token }}
                      <input type="hidden" name="plan_id" value={{p.id}} />
                      <button class="btn">{{p.name}}</button>
                    </form>
                  </td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>

        </div>
    </div>
{% endblock %}
