{% extends "base.html" %} {% block script %}
<script>
    $(function() {
        console.log('page loaded...');
        var linkHandler = Plaid.create({
            env: 'tartan',
            clientName: 'Stripe / Plaid Test',
            key: 'ec0b65435507226851894edaf18afe',
            product: 'auth',
            selectAccount: true,
            onSuccess: function(public_token, metadata) {
                // Send the public_token and account ID to your app server.
                console.log('public_token: ' + public_token);
                console.log('account ID: ' + metadata.account_id);
            },
        });

        // Trigger the Link UI
        document.getElementById('linkButton').onclick = function() {
            linkHandler.open();
        };
    });
</script>
{% endblock %} {% block content %}
<div class="container">
    <!-- <div class="row">
        <div class="col s8">
            <button id="linkButton" class="btn">Verify Bank Account</button>
        </div>
    </div> -->

    <div class="row">
        <div class="col s8 offset-s2">
            <h3>Verify Bank Account</h3>
            <button id="linkButton" class="btn">Verify Bank Account</button>
            <form id="add-bank" method="POST" action={{url_for( 'membership_bp.start_account_verify_random_deposit')}}></form>
            <script src="https://cdn.plaid.com/link/stable/link-initialize.js" data-client-name="Client Name" data-form-id="add-bank" data-key="test_key" data-product="auth" data-env="tartan">
            </script>
        </div>
    </div>
</div>

{% endblock %}
