{% extends 'base.html' %}
{% block content %}
{% with show_buttons=False, title="Enter employer information" %}
{% include "_sub_header.html" %}
{% endwith %}
<div class="container">
  {% if form.errors %}
  <div class="row">
    <div class="col-md-6">
      {% for field in form %} {% for m in field.errors %}
      <div class="alert alert-danger">{{ m }}</div>
      {% endfor %} {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-10 my-2">
      {% with data=data %} {% include 'onboarding/_onboarding_breadcrumb.html' %} {% endwith %}
    </div>
  </div>

  <div class="row">
    <form class="col-md-7 p-0 my-1" action={{url_for( 'onboarding_bp.enter_employer_information')}} method="POST">
      <fieldset class="offset-md-3">
        <h5>Enter employer information</h5>
      </fieldset>
      {{ form.csrf_token }}
      <div class="form-group row my-1">
        {{form.employment_type.label(class="col-md-3 col-form-label align-right")}}
        <div class="col-md-7 p-0">
          {{ form.employment_type(class="form-control") }}
        </div>
      </div>

      <div class="form-group row">
        {{form.employer_name.label(class='col-md-3 col-form-label align-right')}}
        <div class="col-md-7 p-0">
          {{form.employer_name(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.employer_phone_number.label(class='col-md-3 col-form-label align-right')}}
        <div class="col-md-7 p-0">
          {{form.employer_phone_number(class="form-control phone_number")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.street1.label(class='col-md-3 col-form-label align-right')}}
        <div class="col-md-7 p-0">
          {{form.street1(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        {{form.street2.label(class='col-md-3 col-form-label align-right')}}
        <div class="col-md-7 p-0">
          {{form.street2(class="form-control")}}
        </div>
      </div>
      <div class="form-group row">
        <label for="location" class="col-md-3 col-form-label align-right">Location</label>
        <div class="col-md-3 p-0">
          {{form.city(class="form-control")}}
        </div>
        <div class="col-md-2 p-0">
          {{form.state(class="form-control")}}
        </div>
        <div class="col-md-2 p-0">
          {{form.postal_code(class="form-control")}}
        </div>
      </div>
      <div class="row">
        <div class="offset-md-3">
          <button class="btn btn-accent d-inline-block">Next</button>
          <a class="link-btn d-inline-block mx-1" href={{url_for( 'lending_bp.dashboard')}}>Cancel Application</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
