{% extends 'base.html' %} {% block content %}
<div class="container">

  {{ build_breadcrum(breadcrumItems) }}

  {% if form.errors %}
  <div class="row">
     <div class="col s6 error-block">
         {% for field in form %}
           {% for m in field.errors %}
            <div class="error-item">{{ m }}</div>
           {% endfor %}
         {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="row">
    <form class="user-input col s6"
    action={{url_for('membership_bp.enter_employer_information')}} method="POST">
        <h5>Employer information</h5>
        <hr/>
        <!-- {{ form.csrf_token }}

        {% for field in form %}
        <div class="row">
          {% if field.type != 'SubmitField' and field.type != 'CSRFTokenField' %}
            <div class="input-field col s4">
              {{ field.label }}
              {% if field.name == 'employer_phone_number' %}
              {{ field(class='phone_number') }}
              {% else %}
              {{ field }}
              {% endif %}
            </div>
          {% endif %}
          {% if field.type == 'SubmitField' %}
          <div class="col s4">
            {{ form.submit(class='btn') }}
          </div>
          {% endif %}
        </div>
        {% endfor %} -->

        {{ form.csrf_token }}
         <div class="row">
             <div class="input-field col s5">
                 {{form.employer_name.label}}
                 {{form.employer_name}}
             </div>
         </div>
         <div class="row">
           <div class="input-field col s5">
            {{form.employer_phone_number.label}}
            {{form.employer_phone_number(class="phone_number")}}
           </div>
         </div>
         <div class="row">
             <div class="input-field col s5">
              {{form.street1.label}}
              {{form.street1}}
             </div>
             <div class="input-field col s5">
              {{form.street2.label}}
              {{form.street2}}
             </div>
         </div>
         <div class="row">
             <div class="input-field col s4">
              {{form.city.label}}
              {{form.city}}
             </div>
             <div class="input-field col s4">
              {{form.state.label}}
              {{form.state}}
             </div>
             <div class="input-field col s4">
              {{form.postal_code.label}}
              {{form.postal_code}}
             </div>

         </div>
         <div class="row">
             <div class="col s3">
                 <button class="btn">Next</button>
             </div>
             <div class="col s4">
                 <a class="link-btn" href={{url_for('account_bp.account')}}>Cancel Application</a>
             </div>
         </div>
    </form>
  </div>
</div>
{% endblock %}
