{% extends 'base.html' %} {% block content %}
<div class="container margin-top-large">
  {% if get_flashed_messages() | length > 0 %}
   <div class="row">
       <div class="col s6 error-block">
           {% for message in get_flashed_messages() %}
           <div class="error-item">{{ message }}</div>
           {% endfor %}
       </div>
     </div>
   {% endif %}
   {% if form.errors %}
   <div class="row">
      <div class="col s6 error-block">
          {% for field in form %}
            {% for m in field.errors %}
             <div class="error-item">{{ m }}</div>
            {% endfor %}
          {% endfor %}
       </div>
     </div>
     {% endif %}


 <div class="row">
   <div class="row">
     <div class="col s8">

       <p>We have made 2 debits/credit to your bank account. Please find those amounts
         from your bank statement and enter them below</p>
      </div>
    </div>
 <form class="col s6 user-input" action={{url_for( 'membership_bp.verify_account_random_deposit')}} method="post">
    <h5>Verify your bank account</h5>
   <p class="help-text">enter 32 &amp; 45 for deposit1 &amp; deposit2 respectively</p>
  {{ form.csrf_token }}
  <div class="row">
   <div class="input-field col s5">
    {{ form.deposit1.label }} {{ form.deposit1 }}
   </div>
  </div>
  <div class="row">
   <div class="input-field col s5">
    {{ form.deposit2.label }} {{ form.deposit2 }}
   </div>
  </div>
  <button class="btn">Verify</button>
 </form>
</div>
</div>
{% endblock %}
