<!DOCTYPE html>
<html>

<head>
  {% block head_content %} {% endblock %}
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
  <link rel="stylesheet" href={{url_for('static', filename='css/test.css' )}}>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
  <script type="text/javascript" src={{url_for('static', filename='widget.js' )}}></script>
  <script type="text/javascript" src={{url_for('static', filename='script.js' )}}></script>
  <title>{% block title %} Admin {% endblock %}</title>
  {% block script %} {% endblock %}
</head>

<body>
  <!-- {% if not config['ENABLE_PRODUCTION_MODE'] %}
  {% endif %}  -->
  {% macro build_breadcrum(breadcrumItems) %}
  <div class="row margin-top-medium breadcrum-row">
    {% for item in breadcrumItems %} {% if item['active'] %}
    <div class="breadcrum-item breadcrum-active">
      {% else %}
      <div class="breadcrum-item breadcrum-inactive">
        {% endif %}
        <span class="breadcrum-text">{{ item.name }}</span>
      </div>
      {% endfor %}
    </div>
    {% endmacro %}

    <!-- Navbar Section -->
    <nav>
      <div class="row" id="logo-section">
        <div class="col-md-4">
          <a href="{{url_for('account_bp.dashboard')}}"><span class="logo-heading white-text">Ziplly</span></a>
          <span class="logo-subtext white-text">borrowing made affordable</span>
        </div>
        {% if current_user.is_authenticated %}
        <div class="offset-md-5 col-md-3 text-md-right">
          <ul>
            <li class="ml-1">
              <a href={{url_for('account_bp.dashboard')}}>Dashboard</a>
            </li>
            <li class="ml-1">
              <a href={{url_for('account_bp.logout')}}>Logout</a>
            </li>
          </ul>
        </div>
        {% else %}
        <div class="offset-md-5 col-md-3 text-md-right">
          <ul>
            <li class="ml-1">
              <a href={{url_for('account_bp.login')}}>Login</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>

    <!-- Main Section -->
    <section id="content">
      {% block content %} {% endblock %}
    </section>

    <!-- Footer Section -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-md-center">
            <p class="white-text">Connect with us on social media</p>
            <a href="https://twitter.com/zipllyrocks" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @zipllyrocks</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-md-12 text-md-center">
            <div class="g-follow col s1" data-annotation="none" data-height="24" data-href="//plus.google.com/u/0/109147772784942938986" data-rel="author"></div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="float-md-right">
            <p class="white-text mb-1">email us at admin@ziplly.com &nbsp;&nbsp;
              <span class="white-text">© Ziplly 2016</span></p>
          </div>
        </div>
      </div>
    </footer>

</body>

</html>
