{% extends "base.html" %} {% block content %} {% for m in get_flashed_messages() %}
<p class="main-info flow-text">{{ m }}</p>
{% endfor %}

<section id="hero-section">
  <h1>Installment based short term loan</h2>
  <h3><span class="highlight-text">50% cheaper</span> than Payday lending
  <span class="white-text tiny-text"><a href="#faq">learn more</a></span>
  </h3>
</section>

<section id="benefits-section">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <h5>LOAN $500 - $1000</h5>
    </div>
    <div class="col-md-3 col-xs-12">
      <h5>RATES FROM 36% - 99%</h5>
    </div>
    <div class="col-md-3 col-xs-12">
      <h5>UPTO 6 MONTH TERM</h5>
    </div>
    <div class="col-md-3 col-xs-12">
      <h5>NO REPAYMENT PENALTY</h5>
    </div>
</section>

<section id="loan-selection-section">
  <div class="row loan-item">
    <h5 class="offset-md-3 col-md-2 col-xs-6">I would like to</h5>
    <div class="dropdown col-md-6 col-xs-6 text-md-left">
      <button class="btn btn-secondary dropdown-toggle btn-primary-accent-color" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        borrow to
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Repair my car</a>
        <a class="dropdown-item" href="#">Pay for my medical bills</a>
        <a class="dropdown-item" href="#">Pay off a Payday loan</a>
      </div>
    </div>
  </div>
  <div class="row loan-item">
      <h5 class="offset-md-3 col-md-2 col-xs-6">Loan Amount</h5>
      <div class="col-md-4 text-md-left col-xs-6">
        <div class="lp-loan-amount-slider"></div>
        <input class="slider-input" type="text" id="lp-loan-amount">
      </div>
  </div>
  <div class="row loan-item">
      <h5 class="offset-md-3 col-md-2 col-xs-6">Loan Duration</h5>
      <div class="col-md-4 text-md-left col-xs-6">
        <div class="lp-loan-duration-slider"></div>
        <input class="slider-input" type="text" id="lp-loan-duration">
      </div>
  </div>
  </section>
  <section id="lp-loan-info-section">
  </section>

  <section id="signup-form-section">
  <div class="row">
    <div class="col-md-10 offset-md-1 center">
      <div id="alert-placeholder"></div>
      <h4 class="heading1">Signup now and be the first one to know when this service launches.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form action="{{url_for('home_blueprint.register_user')}}" method="POST">
        <div class="form-group row">
          <div class="offset-md-3 col-md-6 no-padding">
            <input name="name" class="form-control" type="text" id="name" placeholder="name" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-md-3 col-md-6 no-padding">
            <input name="email" class="form-control" type="email" id="email" placeholder="email" required>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-orange offset-md-3 notify-btn">Express Interest</button>
        </div>
      </form>
    </div>
  </div>
  <p class="margin-top-medium tiny-text center">
    Our privacy policy keeps your email safe and secure. We will never sell, rent, give, or divulge your email information to ANYONE.
  </p>
</section>
<section id="our-story-section" class="sub-section">
  <h3 class="sub-section-header primary-accent-color center">Why Ziplly?</h3>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li class="col-md-4">
          <p class="flow-text large-text center">
            Smaller payments
          </p>
          <hr/>
          <p class="normal-text">
            Unlike Payday lending, you pay a fixed monthly amount. You set the duration of the loan.
          </p>
        </li>
        <li class="col-md-4">
          <p class="flow-text large-text center">
            Longer time to repay
          </p>
          <hr/>
          <p class="normal-text">
            We allow upto 6 months to repay the loan. The best part is, you set the repayment time.
          </p>
        </li>
        <li class="col-md-4">
          <p class="flow-text large-text">
            50% cheaper than Payday
          </p>
          <hr/>
          <p class="normal-text">
            We charge interest based on your education level, employment history and income status. Our median
            interest is 36% APR.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="misson-statement-section" class="center">
  <h3>Our Mission</h3>
  <p class="heading1">
      We want to make borrowing money easier, cheaper and transparent.
  </p>
</section>
<section id="how-it-works-section">
  <a name="how-it-works-link"></a>
  <h3 class="center">How it works</h3>
  <div class="row">
    <ul>
      <li class="col-md-4">
        <p class="how-it-works-item-title circle-fill">
            Apply for a loan
        </p>
        <p class="normal-text">
          Apply for the loan online.
        </p>
      </li>
      <li class="col-md-4">
        <p class="how-it-works-item-title circle-fill">
          Get approval within 24 hours
        </p>
        <p class="normal-text">
          We will approve you within 24 hours. Once you're approved we will
          transfer the money into your account.
        </p>
      </li>
      <li class="col-md-4">
        <p class="how-it-works-item-title circle-fill">
          Make fixed monthly payments
        </p>
        <p class="normal-text">
          Payback the loan as a smaller fixed monthly payments.
        </p>
      </li>
    </ul>
  </div>
</section>

  <section id="faq-section" class="sub-section">
    <h3 class="primary-accent-color center">F.A.Q.</h3>
    <a id="faq"></a>
    <div class="row">
      <h5 class="primary-accent-color">
        1. How is this different from Payday loan?
      </h5>
      <p class="normal-text">
        Ziplly is a short term lending plan which differs from Payday loans on the following points.
        <ul>
          <li>Fixed monthly payments - unlike Payday loans we don't require you to payback
            the entire loan amount at once. Instead you pay small bits over a period.
          </li>
          <li>
            Longer repayment time - unlike Payday loans which requires you to payback the full
            loan amount on your next paycheck, we let you choose the duration of the loan. It can
            be anywhere between 1 and 6 months.
          </li>
          <li>
            Lower interest rate - We are atleast 50% cheaper than any existing Payday loans.
          </li>
        </ul>
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        2. What is the criteria for getting approved?
      </h5>
      <p class="normal-text">
        Anyone meeting the following conditons may apply
        <ol>
          <li>Have a job</li>
          <li>Have a bank account</li>
        </ol>
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        3. Are you going to run a credit check?
      </h5>
      <p>
        We don't run a full credit check but we do run a soft pull. Soft pull doesn't affect your credit score.
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        4. I've a bad credit score. Am I qualified to apply?
      </h5>
      <p>
        Yes. Bad credit doesn't disqualify you. We evaluate other data points about you such as your education, employment history to
        make a decision.
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        5. How much can I borrow?
      </h5>
      <p class="normal-text">
        We make loans anywhere between $500 and $1000.
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        6. How much time do I have to payback the loan?
      </h5>
      <p class="normal-text">
        The best part of our plan is that you get to choose the loan duration. It can be
        anywhere between 1 and 6 months.
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
       7. What is the criteria for getting approved?
      </h5>
      <p class="normal-text">
        Anyone meeting the following conditons may apply
        <ol>
          <li class="normal-text">Have a job</li>
          <li class="normal-text">Have a bank account</li>
        </ol>
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        8. What happens if I fail to make the monthly payment?
      </h5>
      <p class="normal-text">
        We understand that anyone can get in financial difficulty. But we expect you to inform us at the earliest so we
        can work with you on a re-payment plan.
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        9. Why do you require bank account for loan application?
      </h5>
      <p class="normal-text">
        We use your bank account for the following purposes -
        <ol>
          <li class="normal-text">We need it to transfer the loan amount to your bank account</li>
          <li class="normal-text">We use bank account to verify your identity. It also acts as a proof of employment</li>
          <li class="normal-text">We setup auto payment from your bank account to pay for the loan installments</li>
        </ol>
      </p>
    </div>
    <div class="row">
      <h5 class="primary-accent-color">
        10. Is there any penalty for repaying early?
      </h5>
      <p class="normal-text">
        There is no penalty for repaying early. Infact, we help you build your credit everytime you payback
        early or on time.
      </p>
    </div>
    <script>
      loanAppForm = new LoanApplicationForm(
        "#lp-loan-amount", "#lp-loan-duration", "#lp-loan-info-section",
        ".lp-loan-amount-slider", ".lp-loan-duration-slider", 'lending/get_payment_plan_estimate');
      loanAppForm.bind();
    </script>

    {% endblock %}
