{% extends 'base.html' %} {% block content %}
<div class="container">
<div class="row">
    <form id="signup_form" class="col s6 user-input margin-top-large" action={{url_for('signup_bp.signup')}} method="post">
        <h4>Signup</h4>

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate">
                    <label for="email">email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <button class="btn">Signup</button>
                </div>
                <div class="col s8">
                    <span class="login-option">Already a member&nbsp;&nbsp;<a href={{url_for('onboarding_bp.login')}}>Login now</a> </span>
                </div>
            </div>
</div>
</form>
</div>
</div>
{% endblock %}
