<div class="mb-3">
  <h4 class="primary-color mb-0 py-1">Repayment Schedule</h4>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>
          <h6>Loan Amount</h6>
          <p>{{data['summary']['amount'] | format_currency }}</p>
        </li>
        <li>
          <h6>APR</h6>
          <p>{{ data['summary']['apr'] | format_percentage}}</p>
        </li>
        <li>
          <h6>Loan duration</h6>
          <p>{{ data['summary']['duration'] }} months</p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          <h6>Total Interest</h6>
          <p>{{ data['summary']['total_interest'] | format_currency }}</p>
        </li>
        <li>
          <h6>Application date</h6>
          <p>{{ data['summary']['date_applied'] | format_datetime }}</p>
        </li>
        <li>
          <h6>Bank account</h6>
          <p>xxxx-{{data['summary']['bank_last_4'] }}</p>
        </li>
      </ul>
    </div>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>
          <h6>Amount</h6>
        </th>
        <th>
          <h6>Status</h6>
        </th>
        <th>
          <h6>Date</h6>
        </th>
      </tr>
    </thead>
    {% if not data %}
  </table>
  <p>No approved loans</p>
  {% else %} {% for loan in data['schedule'] %}
  <tr>
    <td>
      <p>
        {{ loan['amount'] | format_currency }}
      </p>
    </td>
    <td>
      <p>
        {{ loan['status'] | format_transaction_status}}
      </p>
    </td>
    <td>
      <p>
        {{ loan['date'] | format_datetime }}
      </p>
    </td>
  </tr>
  {% endfor %}
  </table>
  {% endif %} {% if data['show_back_button'] %}
  <p><a href="">Back</a> to loan history</p>
  {% endif %}

</div>

<script>
</script>
