{% extends 'base.html' %} {% block content %}
{% with show_buttons=True, title="Dashboard" %}
{% include "_sub_header.html" %}
{% endwith %}

{% if data['application_incomplete'] %}
<div class="onboarding_steps"></div>
{% endif %}

{% include "_notification.html" %}

<div class="container mt-3">
  <div class="row mb-2">
    <div class="col-md-12 center">
      {% if data['application_incomplete'] %}
      <h5>Your application is partially complete, we need additional information.</h5>
    <form action={{url_for( 'onboarding_bp.complete_signup')}} method="get">
        <button class="btn btn-accent btn-lg">Complete Application</button>
      </form>
      {% elif data['can_apply_for_loan'] %}
      <form class="text-md-right col-md-6" action={{url_for('lending_bp.loan_application')}} method="get">
        <button class="btn btn-primary">Apply for Loan</button>
      </form>
      {% endif %}
    </div>
  </div>

  {% if not data['application_incomplete'] %}
  <div class="row">
    <div class="col-md-4">
      {% include "lending/_financial_information.html" %}
    </div>

    <div id="loan-history" class="col-md-8">
      {% include "lending/_loan_history.html" %}
    </div>
  </div>
  {% endif %}

</div>

<script type="text/javascript">
  $(function() {
    $.post($HOST + "onboarding/steps",
    function(response) {
      $('.onboarding_steps').html(response);
    });

    $(".payment-schedule").click(function() {
      var loanId = $(this).parent().parent().attr('loan-id');
      $.post(
        $HOST + 'lending/loan_schedule',
        {
          'loan_id': loanId
        },
        function(data) {
          $("#loan-history").html(data);
        }
      );
    });
  })
</script>

{% endblock %}
