<div class="row" id="loan_info">
  <div class="col-md-4 offset-md-2">
    <p class="heading2">Loan Summary</p>
    <table class="table table-striped table-bordered">
      <tr>
        <td>Loan Amount</td>
        <td>{{data['summary']['loan_amount'] | format_currency}}</td>
      </tr>
      <tr>
        <td>Loan Duration</td>
        <td>{{data['summary']['loan_duration']}} months</td>
      </tr>
      <tr>
        <td>Minimum monthly payment</td>
        <td>{{data['summary']['monthly_payment_min'] | format_currency}}</td>
      </tr>
      <tr>
        <td>Maximum monthly payment</td>
        <td>{{data['summary']['monthly_payment_max'] | format_currency}}</td>
      </tr>
      <tr>
        <td>Expected monthly payment</td>
        <td>{{data['summary']['expected_monthly_payment'] | format_currency}}</td>
      </tr>
      <tr>
        <td>Expected interst charge</td>
        <td>{{data['summary']['expected_interest_charge'] | format_currency}}</td>
      </tr>
      <tr>
        <td>Minimum APR</td>
        <td>{{data['summary']['min_apr'] | format_percentage}}</td>
      </tr>
      <tr>
        <td>Maximum APR</td>
        <td>{{data['summary']['max_apr'] | format_percentage}}</td>
      </tr>
      <tr>
        <td>Minimum Interest</td>
        <td>{{data['summary']['min_interest'] | format_currency}}</td>
      </tr>
      <tr>
        <td>Maximum Interest</td>
        <td>{{data['summary']['max_interest'] | format_currency}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <div class="heading2">Repayment Schedule</div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Repayment date</th>
          <th>Payment amount</th>
        </tr>
      </thead>
      {% for rp in data['repayment_schedule'] %}
      <tr>
        <td>{{rp.date | format_datetime(format='%m-%d-%Y')}}</td>
        <td>{{rp.expected_amount | format_currency}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
