{% extends 'base.html' %} {% block content %}

{% with show_buttons=False, title="Success" %}
{% include "_sub_header.html" %}
{% endwith %}

{% include "_notification.html" %}

<div class="container">
<div class="row">
 <div class="col-md-12 p-3 center">
  <h4>
    Congratulations {{ current_user.first_name }}, your application has been accepted!
  </h4>

  <h5>You will receive the money in your account within 24 hours</h5>
  <a class="btn btn-accent my-2" role="button" href={{url_for('lending_bp.dashboard')}}>Continue to Dashboard</a>
{% endblock %}
