{% extends 'base.html' %} {% block content %}

<div class="container mt-2">
    {% with data=data %}
    {% include 'lending/_payment_schedule.html' %}
    {% endwith %}

    <form class="mt-2 row" action={{url_for('lending_bp.loan_details_confirm')}} method="post">
      <div class="col-md-8">
        <input type="hidden" name="loan_id" value="{{data['summary']['loan_id']}}" />
        <div class="form-group row">
          <div class="col-md-2">
            <input class="form-control" type="checkbox">I agree</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <button class="btn btn-orange">Accept Loan</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
