# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
Flask==0.10
Flask-SQLAlchemy==2.1
Flask-WTF
Flask-Session
Flask-Login
PyMySQL==0.7.6
mysql-python==1.2.5
plaid-python
python-dateutil
twilio
pyopenssl
ndg-httpsclient
passlib
pyasn1
sendgrid
gcloud
stripe
urllib3[secure]
requests[security]
python-dateutil
mailjet-rest
